@import '../../main';

.closedCell {
    @include basis($main_color);
}

.flag {
    @include basis($main_color);
    background-color: transparentize($main_color, 0.5);
    border: 1px solid $empty_color;
}

.openedEmptyCell {
    @include basis($empty_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c1 {
    @include basis($one_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c2 {
    @include basis($two_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c3 {
    @include basis($three_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c4 {
    @include basis($four_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c5 {
    @include basis($five_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c6 {
    @include basis($six_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c7 {
    @include basis($seven_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c8 {
    @include basis($eight_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c9 {
    @include basis($bomb_color);
    background-color: transparentize($bomb_color, 0.8);
}

.c11 {
    @include basis($loose_color);
    background-color: $loose_color;
}

.c12 {
    @include basis($win_color);
    background-color: $win_color;
}

.centeringWrapper{
    position: relative;
}
.centeredImg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}
