// constants
$dot: 0.75vh;
$dot_px: 2px;

// colors
$main_color: rgb(18, 146, 31);
$one_color: rgba(76, 149, 255, 0.89);
$two_color: rgba(0, 152, 14, 0.89);
$three_color: rgba(187, 4, 0, 0.89);
$four_color: rgba(224, 225, 0, 0.89);
$five_color: rgba(126, 0, 19, 0.89);
$six_color: rgba(0, 166, 167, 0.89);
$seven_color: rgb(255, 146, 0);
$eight_color: rgba(255, 11, 0, 0.89);
$empty_color: rgba(202, 202, 196, 0.45);
$bomb_color: rgb(202, 202, 196);
$win_color: rgba(0, 175, 59, 0.89);
$loose_color: rgba(255, 11, 0, 0.89);

// mixins
@mixin basis($color) {
    width: 4vh;
    height: 4vh;
    box-shadow: inset 0 0 $dot_px $dot_px/4 $empty_color;
    border: 1px solid $empty_color;
    color: $color;
    font-weight: 900;
   // text-shadow: 0 0 6px $color;
}

.mainShadow {
    font-size: $dot/.25;
    text-align: center;
    border-radius: $dot_px;
    box-shadow: 0 0 $dot_px * 2 $dot_px/2 $main_color;
    color: $main_color;
    border: 1px solid $main_color;
    width: auto;
}

.innerShadow {
    font-size: $dot/.25;
    text-align: center;
    border-radius: $dot_px;
    box-shadow: inset 0 0 $dot_px * 2 $dot_px/2 $main_color;
    color: $main_color;
    border: 1px solid $main_color;
}

body {
    background-color: rgba(5, 1, 9, 0.92) !important;
    font-family: 'Play', sans-serif !important;
}

.row {
    margin: 0;
}
